:root {
  --primary-color: #628b48;
  --primary-color-20: #618a4733;
  --primary-color-50: #618a4780;
  --card-background-color: #f2ffe8;
  --card-background-color-50: #f1ffe580;
  --danger-color: #af2822;
  --background-color: #f4f4f4;
  --neutral-color: #dbe0d9;
  --primary-outline-color: #557c43;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: #1b1b1f;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
