@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

*::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--neutral-color);
}
*::-webkit-scrollbar:hover {
  height: 4px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 8px;
}
